.footer {
  background-color: lightgray;
  
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0px 20px;
}

.contact {
  display: flex;
  align-items: center;
}

.arrow {
  /* display: flex;
  align-items: center; */
  background-color: lightgray;
  border: none;
}

